MANJO_SANDBOX_BASE_URL=https://snap-uat.manjo.co.id/api
MANJO_SANDBOX_CLIENT_KEY=
MANJO_SANDBOX_PRIVATE_KEY=
MANJO_SANDBOX_CLIENT_SECRET=
MANJO_SANDBOX_MERCHANT_ID=
ALTO_BASE_URL=https://mmsapi-test.manjo.co.id
ALTO_API_KEY=
ALTO_VALIDATION_KEY=
